/* Alapbeállítások lenullázása, hogy a keretünk tökéletesen illeszkedjen */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(15, 14, 17); 
    font-family: Arial, sans-serif;
    padding: 2%; 
    min-height: 100vh;
}


.f1-box {
    background-color: #ffffff; 
    border: 8px solid #FF1801; 
    border-radius: 25px; 
    min-height: 96vh; 
    

    padding: 3%; 
    

    box-shadow: 0 10px 20px rgba(0,0,0,0.5); 
}



.kontener {
    max-width: 1200px;
    width: 92%;
    margin: 20px auto 0 auto;
    padding: 10px;
    background-color: red;       
    border: 2px black solid;
    border-radius: 80px;           
}

.nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    padding: 20px;
    margin: 0;
}


.lista {
    background-color: black;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 50px;
    border: 2px solid white;
    transition: 0.3s;
}


.lista:hover {
    background-color: white;
    color: black;
    border-color: black;
}

<<<<<<< HEAD
.F1car {
    margin: auto;
    max-width: 40%;
    max-height: 30%;
    padding: 30px;
}
=======
>>>>>>> 3340c321ca244d2700c8f9feb3d061fb1b27a426
